[submodule "chaizi-re"]
	path = chaizi-re
	url = https://github.com/jack2game/chaizi-re.git
[submodule "rime-moran"]
	path = rime-moran
	url = https://github.com/jack2game/rime-moran.git
[submodule "rime-snow-pinyin"]
	path = rime-snow-pinyin
	url = https://github.com/jack2game/rime-snow-pinyin.git
[submodule "rime-zrlong"]
	path = rime-zrlong
	url = https://github.com/jack2game/rime-zrlong.git
[submodule "rime-radical-pinyin"]
	path = rime-radical-pinyin
	url = https://github.com/jack2game/rime-radical-pinyin.git
[submodule "rime-shuangpin-fuzhuma"]
	path = rime-shuangpin-fuzhuma
	url = https://github.com/jack2game/rime-shuangpin-fuzhuma.git
